#logo-navbar {
    height: 90px;
}

.nav-encima:hover {
    font-weight: bold;
    font-size: 1.2em;
    background-color: rgb(0, 183, 255);
    border-radius: 10px;
}

#logo-navbar-header {
    
}

#navegacion-scroll {
    overflow: hidden;
    padding: 80px 10px; /* Large padding which will shrink on scroll (using JS) */
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    position: fixed; /* Sticky/fixed navbar */
    width: 100%;
    top: 0; /* At the top */
    z-index: 99;
}


.borde-test {
    border: 1px solid black;
}

* {
    transition: 1s;
}

#logo-navegacion {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}

.hero {
    height: 100vh;
    position: relative;
    text-align: center;
    color: white;
}
.hero-img {
    height: 100vh;
    filter: blur(3px);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.seccion {
    text-align:center;
    color:rgb(255, 255, 255);
    padding-top:40vh;
    height:100vh;
    overflow:hidden;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
}
.div-artificial {
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
}
.div-artificial:first-of-type {
    animation: showup 7s infinite;
}
.div-artificial:last-of-type {
    width: 0px;
    animation: reveal 7s infinite;
}
.div-artificial:last-of-type span {
    margin-left: -450px;
    animation: slidein 7s infinite;
}

@media (max-width: 768px) {
    
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:450px;}
    80% {opacity:1;}
    100% {opacity:0;width:450px;}
}